body {
        /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(rgb(0, 73, 0), rgb(0, 50, 0), rgb(0, 25, 0), black);

    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #000;
}

.student-profile .card {
    background-color: black;
    color: white;
    border-radius: 10px;
}

.student-profile .card .card-header .profile_img {
    
    color: white;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px auto;
    border: 10px solid #ccc;
    border-radius: 50%;
}

.student-profile .card h3 {
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.student-profile .card p {
    color: white;
    font-size: 16px;
}

.student-profile .table th,
.student-profile .table td {
    font-size: 14px;
    padding: 5px 10px;
    color: white;
}

table {
    border-collapse: separate;
    border-spacing: 10px;
}

td {
    border: 1px solid white;
    color: white;
}