* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
}

html{
    scrollbar-width: normal;
    scrollbar-color: white black;
}
html::-webkit-scrollbar{
    width: 0.5vw;
}
html::-webkit-scrollbar-thumb{
    background-color: white;
}
html::-webkit-scrollbar-track{
    background-color: black;
}

body {
    background-image: linear-gradient(darkgreen, black, black, black);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    margin: 0 0 15vh 20vw;
}

.navBar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 88%;
    position: fixed;
    z-index: 2;
    padding: 2rem;
    width: 20vw;
    left: 0;
    top: 0;
    background-color: black;
}

a {
    font-size: 0.85rem;
    text-decoration: none;
    color: grey;
}

.button:hover {
    cursor: pointer;
}

.button:hover>a {
    transition: all 0.5s;
    color: white;
}


.button {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.arrow {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem
}

.arrow:hover {
    cursor: pointer;
}

.logo {
    width: max-content;
    font-weight: 550;
    border-radius: 30px;
    font-size: 3rem;
    color: green;
    padding: 0.5rem .5rem;
}

.logo:hover {
    background-color: rgba(1000, 1000, 1000, 0.25);
    cursor: pointer;
}

.part {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.bgHeart {
    background-image: linear-gradient(to bottom right, rgb(50, 11, 170), rgb(134, 162, 152));
    padding: 0.25rem;
}

.bgPlus {
    background-color: white;
    padding: 0.1rem;
}

.bottomLine {
    border-bottom: 0.1px solid gray;
    padding-bottom: 1rem;
}

.bold {
    font-weight: 600;
}

.player {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    height: 15vh;
    width: 100%;
    position: fixed;
    z-index: 2;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: black;
}

.playerImg {
    width: 6vw;
}

.horizontal {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
    gap: 0.4rem;
}

.controlProgress {
    align-self: center;
}

.fas,
.underline,
.progressBar>div {
    color: grey;
}

.progress {
    width: 30vw;
}

.underline:hover {
    cursor: pointer;
    text-decoration: underline;
    color: white;
}

.fas:hover {
    color: white;
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.volume img {
    width: 1rem;
}

.hidden {
    display: none;
}

input[type=range] {
    height: 4px;
    opacity: 0.7;
    outline: none;
    transition: all 0.2s;
}

input[type=range]:hover {
    opacity: 1;
}

input[type=range]::-webkit-slider-thumb {
    opacity: 0;
}

input[type=range]::-moz-range-thumb {
    opacity: 0;
}

.top {
    display: flex;
    position: fixed;
    top: 0;
    height: 12vh;
    width: 80vw;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.circle {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0 0.65rem;
    font-size: 2rem;
    border-radius: 50%;
}

.login {
    font-size: x-large
}

h1, h4, h6 {
    margin: 1rem;
}


.playlists,
.containerBox {
    display: grid;
    padding: 2vw;
    grid-template-columns: auto auto auto;
    grid-gap: 1rem;
}

.containerBox {
    grid-template-columns: auto auto auto auto;
}

.playlist {
    background-color: rgba(1000, 1000, 1000, 0.18);
    width: 100%;
    font-size: medium;
    letter-spacing: 0.5px;
    border-radius: 5px;
}

.playlist:hover {
    background-color: rgba(1000, 1000, 1000, 0.25);
}

.playlist>img {
    box-shadow: 1px 1px 20px black;
    width: 6vw;
}

.playlistName {
    color: gray;
    font-weight: bold;
    font-size: 15px;
}

.buttonContainer {
    background-color: rgba(1000, 1000, 1000, 0.08);
    width: max-content;
    padding: 1rem 1vw;
    align-items: flex-start;
    border-radius: 5px;
}

.buttonContainer:hover {
    background-color: rgba(1000, 1000, 1000, 0.15);
}

.containerImg {
    width: 15vw;
    border-radius: 5px;
}

.containerTitle {
    margin-top: 1rem;
    font-size: 1.3rem;
    font-weight: 600;
}

.containerArtists {
    width: 15vw;
    color: grey;
    font-weight: 600;
}

.likedBox{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1rem;
    padding: 1rem;
}

.liked{
    background-image: linear-gradient(to bottom right, #470DF5, #8E8EE5);
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.likedTitle{
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 0.4rem;
}

.likedCount{
    text-shadow: 0px 0px 5px white;
}

.banner{
    height: 50vh;
    background-image: linear-gradient(to bottom right, #533B9F, #2A1E51);
    box-shadow: 0px 0px 300px #4D3896;
    display: flex;
    align-items: flex-end;
}

.likedImg{
    margin: 2rem;
    width: 16vw;
    box-shadow: 1px 1px 100px black;
}

.likedHead{
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

.likedOne{
    font-size: 5rem;
    letter-spacing: -3px;
    font-weight: 800;
}

.likedTwo{
    font-weight: bold;
}

.media, .tableHead{
    display: grid;
    padding: 0.5rem;
    margin: 0 1rem;
    border-radius: 5px;
    font-size: 0.9rem;
    align-items: stretch;
    grid-template-columns: 1fr 2fr 1fr 1fr;
}

.media:hover > .mediaName{
    text-decoration: underline;
}

.hide, .favourite{
    text-align: center;
}

.delete {
    color: red;
}

.mediaName{
    font-weight: bold;
    font-size: 0.85rem;
}

.media:hover{
    cursor: pointer;
    background-color: rgba(1000, 1000, 1000, 0.15);
}

.cover{
    width: 3vw;
    justify-self: center;
}

.tableHead{
    margin: 3rem 1rem 1rem 1rem;
    font-weight: bold;
    border-bottom: 1px solid grey;
}

input {
    color: black !important;
}

@media screen and (max-width: 1000px) {
    .navBar{
        width: 30vw;
    }
    main{
        margin-left: 30vw;
    }
    .top{
        width: 70vw;
    }
    .likedOne{
        font-size: 4rem;
    }
    .last{
        display: none;
    }
    .containerBox{
        grid-template-columns: auto auto auto;
    }
}
.songName {
    font-weight: bold;
    font-size: 0.85rem;
}

.song:hover {
    cursor: pointer;
    background-color: rgba(1000, 1000, 1000, 0.15);
}

.cover {
    width: 3vw;
    justify-self: center;
}

.tableHead {
    margin: 3rem 1rem 1rem 1rem;
    font-weight: bold;
    border-bottom: 1px solid grey;
}

.green {
    color: green;
}

input {
    color: black !important;
}

.floating-stack {
    background: rgb(1, 20, 1);
    color: #fff;
    padding-left: 5px;
    height: 300px;
    width: 320px;
    border-radius: 1rem;
    overflow-y: auto;
    text-align: center;
    padding-top: 5px;
}

.floating-stack>dl {
    margin: 0 0 1rem;
    display: grid;
    grid-template-columns: 2.5rem 1fr;
    align-items: center;
}

.floating-stack dd {
    grid-column: 2;
    margin: 0;
    padding: 0.75rem;
}

.sticky-button {
    position: fixed;
    top: 10%;
    right: 0;
    transform: translateY(-50%);
    background-color: darkgreen;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.list {
    position: fixed;
    top: 15%;
    right: 0%;
    display: none;
    text-align: right;
    padding-right: 5px;
}

.f {
    text-align: left;
    padding-left: 2.5px;
}